html {
    text-align: center;
}

body {
    background-color: #ccc;
}

h1 {
    color: red;
    text-align: center;
}

img {
    border: 2px solid black;
}

p {
    font-weight: bold;
}

input {
    padding: 5px;
    margin: 5px;
}

button {
    padding: 5px;
    margin: 5px;
    width: 200px;
}

.container {
    width: 500px;
    margin-left: 400px;

}